.app .title-wrap {
    margin-top: 10%;
    margin-bottom: 5%;
}

.app .title {
    font-size: 38px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.app .subtitle {
    font-size: 18px;
    text-align: center;
    font-style: italic;
}