.app .input {
    padding: 2%;
    border-radius: 5px;
    border: 3px solid #000;
    margin: 10px 20px 10px 5px;
}

.app .input:focus {
    outline: none;
}

.app .btn-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    width: 100%;
    margin-top: 2%;
}

.app .btn {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    /*margin: 20px 39% 0 39%;*/
    border-radius: 25px;
    width: 100px;
    background-color: #0e51ff;
    color: white;
}

.app .btn:focus {
    outline: none;
}