.app .cust-select{
  -webkit-appearance:none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #000;
  margin-bottom: 20px;
  background-color: #fff;
}
.app .cust-select:focus{
  outline: none;
}
.app .cust-select:required:invalid {
  color: gray;
}
.app .cust-select option[value=""][disabled] {
  display: none;
}
.app .cust-select option {
  color: black;
}