.app .option-select{
  -webkit-appearance:none;
  width: 50px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #000;
  margin: auto 2px auto 2px;
  background-color: #fff;
}
.app .option-select:focus{
  outline: none;
}
.app .option-select:required:invalid {
  color: gray;
}
.app .option-select option[value=""][disabled] {
  display: none;
}
.app .option-select option {
  color: black;
}